/* AQUI LO DE CREAR SALAS */

.salas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .palabras{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .listas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content{
    margin: 50px 0px 100px 0px;
    background-color: rgb(223, 215, 215);
    border-radius: 5%;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
    
    h1 {
      text-align: center;
    }
    
    .form-label {
      display: block;
      margin-top: 10px;
    }
    
    .form-input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    
    .checkbox-input {
      margin-top: 8px;
    }
    
    .form-button {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
    }
    
    .form-button:hover {
      background-color: #45a049;
    }
    
    .select-input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    
    .form-textarea {
      resize: vertical;
    }
    
    
    /* .word-list {
      display: none;
    } */
  
  
  .visible {
    display: block;
  }
  