
.header{
    background-color: #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.header__logo{
    color: #3d3d3d;
    text-decoration: none;
    letter-spacing: 2px;
}
.header__nav-list{
        display: flex;
        list-style: none;
        column-gap: 20px;
        flex-wrap: wrap;
    }
.header__item-link{
	color: #3d3d3d;
    text-decoration: none;
    letter-spacing: 2px;
}
.header__item-link--is-active{
	border-bottom:3px solid  #3d3d3d ;
        }
.header__item-link--is-active:hover{
			border-bottom:2px solid  #3d3d3d ;
        }