

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #82ade58a
}

/* nav {
  background-color: #333333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
} */

.logo img {
  width: 50px;
  height: auto; 
  margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #454444;
}

a:hover {
  border-bottom: 2px solid #454444;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #555;
  padding: 10px;
}

li:hover .submenu {
  display: block;
}

.submenu a {
  display: block;
  color: #454444;
  text-decoration: none;
  margin: 5px 0;
}

#logout-btn {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

#logout-btn:hover {
  background-color: #777;
}


.floating-div {
  height: 100vh;
  width: 70%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  margin: auto; /* Centra horizontalmente usando margin: auto; */
}

.content {
  display: none;
  text-align: center;
}

.visible {
  display: block;
}


